@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/LatoRegular.ttf);
}

/*
УНИВЕРСАЛЬНЫЙ сброс стилей
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: Lato-Regular, sans-serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Цвет основного шрифта на сайте */

body {
    color: #434343;
}

/* Контейнер */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Клеарфикс */

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/*     Хедер    */

.page-header__top {
}

.page-header__top-menu {

    float: right;
    height: 38px;
}

.page-header__top-menu li {

    display: inline-block;
    line-height: 38px;
    padding-left: 30px;
    word-spacing: 3.5px;
    letter-spacing: 0.7px;
}

.page-header__top-menu a {
    text-decoration: none;
}

/*     Футер    */

.page-footer {
    padding: 48px 2px 0 0;
}

.page-footer__inner {
    padding-left: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b9b9b9;
}

.page-footer__block {
    text-align: justify;
}
/*     равномерное выравнивание элементов в футере    */
.page-footer__block:after {
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}

.page-footer__block-group {
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
}

.page-footer__block h3 {
    font-size: 25px;
    color: #434343;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page-footer__list {
    font-size: 16px;
}

.page-footer__list a {
    text-decoration: none;
    color: #676767;
}

.page-footer__subscribe {
    margin-bottom: 30px;
}

.page-footer__form input[name="email"] {
    display: block;
    width: 370px;
    height: 70px;
    border: 1px solid #dedede;
}
/*Стили плейсхолдера для Chrome*/
.page-footer__form input[name="email"]::-webkit-input-placeholder {
    text-transform: uppercase;
    text-align: center;
    color: #434343;
}
/*Стили плейсхолдера для Firefox*/
.page-footer__form input[name="email"]::-moz-placeholder {
    text-transform: uppercase;
    text-align: center;
    color: #434343;
}
/*Стили кнопки отправки email для подписки*/
.page-footer__form-submit {
    width: 100%;
    height: 53px;
    background: #05aecc;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
}
/*иконки соцсетей в футере*/
.page-footer__social h3 {
    margin-bottom: 10px;
}

.page-footer__social-links {
    width: 85%;
    text-align: justify;
}
.page-footer__social-links::after {
    width: 100%;
    content: "";
    visibility: hidden;
    overflow: hidden;
    display: inline-block;
}

.page-footer__social-links li {
    display: inline-block;
    width: 55px;
    height: 55px;
}

.social-links__link {
    display: block;
    height: 100%;
    width: 100%;
}

.social-links__link span {
    visibility: hidden;
}
/*Цвета для фона иконок соцсетей*/
.social-links__link-rss {
    background: #f8bc2e url("../img/soc-sprite.png") no-repeat 15px 50%;
}

.social-links__link-facebook {
    background: #39599f  url("../img/soc-sprite.png") no-repeat -50px 50%;
}

.social-links__link-twitter {
    background: #45b0e3  url("../img/soc-sprite.png") no-repeat -115px 50%;
}

.social-links__link-flickr {
    background: #ffffff url("../img/soc-sprite.png") no-repeat -180px 50%;
    border: 1px solid #dbdbdb;
}

.social-links__link-google {
    background: #1872bf url("../img/soc-sprite.png") no-repeat -250px 50%;
}

.page-footer__bottom {
    height: 66px;
    line-height: 66px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 200px;
}

.page-footer__bottom div {
    display: inline-block;
}

.page-footer__copyrights {
    margin-left: 22px;
}

.page-footer__designed-by {
    float: right;
}