@media screen and (max-width: 800px) {
	.header-top,
	.header-bottom,
	.main-menu,
	.search-block {
		display: none;
	}

	.container {
		width: 320px;
	}
	

	/* menu */

	.adaptive-menu__block {
		z-index: 5;
		display: none;
		position: absolute;
		top: 70px;
		width: 320px;
		background: rgba(246, 246, 246, 0.8);
	}

	.adaptive-menu__list {
		list-style: none;
	}

	.menu__item_adapt {
		display: block;
		width: 100%;
	}

	.item__link_adapt {
		display: block;
		width: 100%;
	}

	.search-block.search-block_adapt {
		display: block;
		height: 70px;
		line-height: 70px;
	}

	.search-block__wrapper_adapt {
		height: 70px;
	}

	.search-block__field.search-block__field_adapt {
		width: 200px;
		height: 10px;
		margin-bottom: 20px;
		box-sizing: content-box;
	}

	.search-block__label_adapt {
		position: static;
		left: 40px;
	}

	.search-block__field_adapt::-webkit-input-placeholder {display: none;}
	.search-block__field_adapt::-moz-placeholder          {display: none;}
	.search-block__field_adapt:-moz-placeholder           {display: none;}
	.search-block__field_adapt:-ms-input-placeholder      {display: none;}

	.search-block__magnifer_adapt {
		top: 0;
	}

	/* Page-header */

	.page-header {
		height: 70px;
		padding: 0;
		margin: 0 0 5px 0;
		border-bottom: 1px solid black;
	}

	.page-header__logo {
		position: absolute;
		top: 0;
		width: 80px;
		margin: 5px 0 0 5px;
	}

	.page-header__logo img {
    width: 80px;
    height: auto;
	}

	.menu-hamburger {
		display: block;
		top: 0;
	}

	/* Main-content block */

	.main-content-block {
		width: 320px;
	}

	.main-content-block__rect {
		width: 320px;
		height: 220px;
		margin-right: 0;
	}

	.main-content-block__rect img {
    position: absolute;
    width: 320px;
    height: auto;
    top: 0;
    left: 0px;
	}

	.wear-womens img {
		width: 520px;
	}

	.wear-kids img {
		width: 350px;
		left: -10px;
	}

	.wear__panel {
		width: 100%;
		height: auto;
		bottom: 0;
	}

	.panel__summary {
		padding: 5px;
	}

	.summary__title {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.summary__text {
		font-size: 12px;
	}

	/* Jevelry */

	.panel__summary_jewelry {
		height: 100%;
	}

	.panel__summary_jewelry h3 {
		font-size: 15px;
		right: 0;
		bottom: 45px;
	}

	/* Crafts */

	.panel__summary_crafts {
		box-sizing: border-box;
		width: 100%;
	}

	/* Featured products */

	.section-title__title {
		font-size: 17px;
		left: 10px;
	}

	.featured-items__wrapper {
		width: 275px;
		margin: 0 auto;
	}

	/* Who-we-are block */

	.our-features {
		height: auto;
	}

	.rectangle {
		margin: 0;
    	padding: 0;
	}

	.our-features__rectangle {
		width: 320px;
	}

	.button-register-wrapper {
		width: 320px;
	}

	.rectangle__title {
		text-align: right;
		font-size: 15px;
	}

	.rectangle__title h3 {
		margin-right: 5px;
	}

	/* Page-footer */

	.footer-menu {
		width: 320px;
	}

	.footer-top {
		display: block;
		margin: 0 5px 0 5px;
	}

	.footer-menu {
		display: inline-block;
		padding: 0;
	}

	.footer-menu__title {
		font-size: 20px;
		margin: 0 0 5px 0;
	}

	.footer-menu__subscribe-block {
		width: 320px;
	}

	.subscribe-field {
		width: 316px;
	}

	/* Brothers */

	.internal-img {
		
		width: 320px;
		height: 400px;
		box-shadow: none;
		
	}

	.internal-img img {
		position: relative;
		left: -58px;
	}

}