@font-face {
    font-family: Lato-Regular, sans-serif;
    src: url(../fonts/LatoRegular.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: MyriadPro-Regular, sans-serif;
    src: url(../fonts/MyriadPro-Regular.otf)
}

html,
body,
ul {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Контейнер для всей страницы */

.container {
    width: 1170px;
    margin: 0 auto;
}

/* HEADER */

.page-header {
    width: 100%;
    padding: 0 0 10px 0;
}

/*  Header-logo */

.page-header__logo {
    float: left;
    margin: 19px 0 0 18px;
}

/*. Header-top */

.header-top {
    height: 38px;
    float: right;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    font-family: Lato-Regular, sans-serif;
}

.header-top__menu {
    list-style: none;
    
}

.menu__item {
    display: inline;
    margin-right: 24px;
    letter-spacing: 1.2px;
}

.menu__item:last-child {
    margin: 0;
}

.item__link {
    text-decoration: none;
    color: #434343;
    font-weight: lighter;
}

/* Header-bottom */

.header-bottom {
    clear: right;
    height: 91px;
    float: right;
    font-family: Lato-Regular, sans-serif;
    background: rgb(246, 246, 246);
    box-shadow: -450px 0 0 0 rgb(246, 246, 246);
}

.header-bottom__menu {
    list-style: none;
    letter-spacing: 1.2px;
    box-sizing: border-box;
    background: rgb(246, 246, 246);
}

.header-bottom-menu__item {
    display: inline-block;
    vertical-align: middle;
    width: 116px;
    height: 89px;
    margin: 0 5px 0 0;
    background: rgb(5, 174, 204);
}

.header-bottom-menu__item:last-child {
    margin: 0;
}

.header-bottom-menu__item_long {
    width: 142px;
}

.header-bottom-menu__item_red {
    background: rgb(240, 98, 110);
}

.header-bottom-menu__item_img-gift {
    background: rgb(5, 174, 204) url(../img/gift.png) no-repeat 104px 47%;
}

.header-bottom-menu__item_img-cart {
    background: rgb(240, 98, 110) url(../img/cart.png) no-repeat 79px 50%;
}

.header-bottom__link-wrapper {
    display: table-cell;
    width: inherit;
    height: inherit;
    vertical-align: middle;
    text-align: center;
}

.header-bottom-menu__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: lighter;
}

/* Images in rectangles in header-bottom */

.header-bottom-menu__link_img {
    text-align: none;
    margin: 0 0 0 -35px;
}

/* Main-menu-block */

.main-menu {
  display: table;
  position: relative;
    box-sizing: border-box;
    padding: 0 110px;
    width: 100%;
    height: 71px;
    background: rgb(5, 174, 204);
}

.main-menu__item {
    display: table-cell;
  position: relative;
}

/* Main-menu: Open second level */

.main-menu__item:hover .main-menu__wrapper {
  display: block;
}

.main-menu__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 71px;
    font-family: Lato-Regular, sans-serif;
    color: #ffffff;
    text-decoration-line: none;
    font-weight: lighter;
    letter-spacing: 1.2px;
}

.main-menu__link:hover {
  color: #ef5966;
  background: rgb(255, 255, 255);
}

/* Main-menu: second level */

.main-menu__wrapper {
    display: none;
    position: absolute;
    top: 71px;
    padding-top: 3px;
}

.main-menu__wrapper_right {
    right: 0;
}

.main-menu__second-lvl {
  box-sizing: border-box;
  padding: 7px 17px 15px 20px;
  width: 262px;
  margin: 0px;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.1);
}

.second-lvl__item {
  display: block;
  padding: 19px 0 17px 0;
  border-bottom: 1px solid #cacaca;
}

.item__img {
    display: inline-block;
    vertical-align: top;
}

.item__text-wrapper {
    display: inline-block;
    width: calc(100% - 85px);
    padding: 0 0 0 5px;
}

.item__name {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    color: #ef5966;
    letter-spacing: 1.2px;
}

.item__prev {
    margin: 0 0 3px 0;
    color: #454545;
}

.item__btn {
    display: block;
    text-align: center;
    margin: 0 0 0 0;
    width: 117px;
    height: 24px;
    line-height: 24px;
    background: rgb(5, 174, 204);
}

.btn__link {
    font-weight: lighter;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

.item__name_last-item {
    margin-top: 12px;
    list-style: none;
    font-size: 16px;
}

.item-name__link {
    text-decoration: none;
    color: #ef5966;

}

/* Блок "Who we are" */

.who-we-are-block {
    padding: 0 0 31px 0;
    border-bottom: 1px solid #b9b9b9;
}

.who-we-are-block-wrapper {
    border-bottom: 1px solid #b9b9b9;
}

.who-we-are-block__title {
    float: left;
    position: relative;
    left: 32px; bottom: -1px;
    display: block;
    margin: 0;
    font-family: Lato-Regular, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #05aecc;
    border-bottom: 1px solid red;
}

/* Block "Who we are" */

.who-we-are-paragraph-wrapper {
    padding: 12px 31px 19px 28px;
}

.who-we-are-block__paragraph {
    font-family: Lato-Regular, sans-serif;
    font-size: 16px;
    color: #464646;
    line-height: 26px;
}

/* Блок прямоугольников в разделе "Кто мы такие" */

.our-features {
    width: 1170px;
    height: 232px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Lato-Regular, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}

.rectangle {
    box-sizing: border-box;
    margin-right: 23px;
    padding: 0 20px 0 210px;
}

.rectangle:last-child {
    margin-right: 0;
}

.our-features__rectangle {
    display: inline-block;
    vertical-align: top;
    width: 370px;
    height: inherit;
    background: rgb(67, 67, 67) url(../img/Rect-who-we-are-sprite.png) no-repeat 41px 30px;
}

.our-features__rectangle-center {
    background: rgb(5, 174, 204) url(../img/Rect-who-we-are-sprite.png) no-repeat -375px 30px;
}

.our-features__rectangle-right {
    background: rgb(240, 98, 110) url(../img/Rect-who-we-are-sprite.png) no-repeat -832px 30px;
}

.rectangle__title {
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

/* Кнопка "Register now" */

.button-register-wrapper {
    width: 648px;
    height: 61px;
    margin: 31px auto 0 auto;
}

.button-register {
    width: 648px;
    height: inherit;
    background: rgb(5, 174, 204);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

.button-register__link {
    text-decoration: none;
    color: #ffffff;
    font-family: Lato-Regular, sans-serif;
    font-size: 27px;
    font-weight: lighter;
}